<nav class="navbar">

  <div class="navbar-brand">
    <a class="navbar-item" href={{ url_for("main.home") }}>
      P l o t H o l e
    </a>
  </div>

    <div class="navbar-burger" onclick="document.querySelector('.navbar-burger').classList.toggle('is-active');
      document.querySelector('.navbar-menu').classList.toggle('is-active');">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="navbar-menu">
      <a class="navbar-item" href={{ url_for("posts.map") }}>
        Map
      </a>
      <a class="navbar-item" href={{ url_for("main.home") }}>
        Stats
      </a>
      {% if current_user.is_authenticated %}

      <a class="navbar-item" href={{ url_for("users.account") }}>
        Account
      </a>
      {% else %}
      <a class="navbar-item" href={{ url_for("users.login") }}>
        Login
      </a>
      <a class="navbar-item" href={{ url_for("users.register") }}>
        Register
      </a>
      {% endif %}
    </div>

</nav>
