

<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <form method="POST" action="">
      {{ form.hidden_tag() }}

      <div class="field">
        <p class="control">
          {{ form.lat(class="input", placeholder="Lat") }}
        </p>
      </div>

      <div class="field">
        <p class="control">
          {{ form.long(class="input", placeholder="Long") }}
        </p>
      </div>

      <div class="field">
        <p class="control">
          {{ form.submit(class="button is-primary is-outlined is-rounded")}}
          </button>
        </p>
      </div>
      
    </form>
  </div>
</div>
