{% extends "base.html" %}

{% block content %}


  <div class="columns">
    <div class="column is-one-quarter">
      <div class="container">
        <h1 class="title has-text-grey-lighter">
          Hello, {{ current_user.username }}!
        </h1>
        <h2 class="subtitle has-text-grey-lighter">
          You have plotted {{ count }} potholes!
        </h2>
        <a class="button is-outlined is-light is-rounded is-small"
                  href={{ url_for("users.logout") }}>Logout
        </a>
      </div>
    </div>
    <div class="container">
      <div class="box">
        <div style="max-height:500px;overflow:auto;">
          <table class="table is-hoverable">
            <tbody>
              {% for plot in plots %}
              <tr>
                <article class="media">
                  <figure class="media-left">
                    <p class="image is-128x128">
                      <img src="https://bulma.io/images/placeholders/128x128.png">
                    </p>
                  </figure>
                  <div class="media-content">
                    <div class="content">
                      <p class="title is-4"> {{ plot.plot.type }} </p>
                      <p class="subtitle is-6"> {{ plot.plot_date }} </p>
                      <div class="content">
                        {{ plot.plot.coordinates }}
                      </div>
                    </div>
                    <nav class="level is-mobile">
                      <div class="level-left">
                        <div class="buttons">
                          <button class="button is-info is-light is-small">Update</button>
                          <button class="button is-danger is-light is-small">Delete</button>
                        </div>
                      </div>
                    </nav>
                  </div>
                </article>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
