<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Plot Potholes - PlotHole</title>


  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link rel="stylesheet" href="static/css/mystyles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />

  <style>
    /* background */
    .hero {
      background: url("static/nola_streets_bw.png") center / cover;
    }
  </style>


</head>
  <body>
    {% include "includes/navbar.html" %}

    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class='container'>

          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="notification is-primary has-text-centered">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}

          {% block content %}
          {% endblock %}


        </div>
      </div>
    </section>
  </body>

{% include "includes/footer.html" %}
</html>
