{% extends "base.html" %}

{% block content %}
<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <form method="POST" action="">
      <div class="field">

        <p class="control has-icons-left has-icons-right">
          <input class="input is-large" type="email" placeholder="Email">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>

      </div>

      <div class="field">
        <p class="control has-icons-left">
          <input class="input is-large" type="password" placeholder="Password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <p class="control">
          <button class="button is-primary is-outlined is-rounded">
            Login
          </button>
        </p>
      </div>
    </form>
  </div>
</div>
{% endblock %}
