{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
   integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin="">
    </script>
    <script src="https://leaflet.github.io/Leaflet.heat/dist/leaflet-heat.js">
    </script>

<div class="level">
  <div class="level-item">
    <div id='map' style='width: 820px;
         height: 640px;'>
    </div>


    <script>
      var mymap = L.map('map').setView([29.95 ,-90.11], 12);
      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox/dark-v10',
          tileSize: 512,
          zoomOffset: -1,
          accessToken: 'pk.eyJ1IjoianNvbWEiLCJhIjoibFJmYl9JWSJ9.AUm8d76cbOvVEn2mMeG_ZA'
      }).addTo(mymap);

      function doWork() {
          // ajax the JSON to the server
          $.ajax({
              type: 'POST',
              url: '/receiver',
              data: JSON.stringify (cars),
              success: function(data) { alert('data: ' + data); },
              contentType: "application/json",
              dataType: 'json'
          });
          // stop link reloading the page
          event.preventDefault();
      }

      var popup = L.popup();
      mymap.on('click', function(e){
          var coord = e.latlng;
          var lat = coord.lat;
          var lng = coord.lng;
          var newMarker = L.marker(e.latlng, {draggable:'true'}).addTo(mymap)
          .bindPopup('Plot a pothole <a href="{{ url_for('posts.plot_pothole') }}?latitude='+lat+'&longitude='+lng+'"> here</a>').openPopup();
      });

      var coord = [{% for plot in plots %}
      	          {{ [plot.plot.coordinates[1],plot.plot.coordinates[0]]|tojson|safe }}, // lat, lng, intensity
                  {% endfor %}];

      var heat = L.heatLayer(
          coord
        , {radius: 10,
           maxZoom: 15}).addTo(mymap);

    </script>

  </div>
</div>

{% endblock %}
